body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top {
  width: 100%;
  background-color: rgb(189, 192, 192);
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Irish Grover', cursive;
  z-index: 999;
}
.topleft,
.topright {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topicon {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(61, 59, 57);
}
.topcenter {
  flex: 6;
}

.topimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.toplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.toplistitem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
.topsearchicon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
}
i {
  padding: 5px;
}
